.modal-dialog {


  .dialog-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

    .dialog-body {
      top: 0%;

      .header-icon {
        font-size: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
      }

      .header {
        width: 100%;
        padding: 10px;
        border-bottom: solid 1px white;
        font-size: 18px;
      }

      .description {
        width: 100%;
        padding: 10px;
      }

      .buttons {
        text-align: center;
        width: 100%;
        padding: 10px;

        .ok-btn {
          border: 1px solid lightgray;
          color: #5d5656;
          background-color: transparent;
          text-decoration: none;
          cursor: pointer;
          display: inline-block;
          padding: 5px 20px;
          margin: 5px;
          border-radius: 3px;
        }

        .action-button {
          color: white;
        }

      }
    }

    .dialog-body.error-dialog {
      border: 2px solid #E84445 !important;

      .header-icon {
        > i {
          color: #E84445;
        }
      }

      .action-button {
        background-color: #E84445;
      }
    }

    .dialog-body.warning-dialog {
      border: 2px solid orange !important;

      .header-icon {
        > i {
          color: orange;
        }
      }

      .action-button {
        background-color: orange;
      }
    }

    .dialog-body.success-dialog {
      border: 2px solid #37b358 !important;

      .header-icon {
        > i {
          color: #37b358;
        }
      }

      .action-button {
        background-color: #37b358;
      }

    }
  }

  .show {
    visibility: visible !important;

    .dialog-body {
      -webkit-transform: rotateY(0);
      transform: rotateY(0);
      opacity: 1;
    }
  }
}
